.wrapper {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.table {
  height: calc(100% - 32px);
  &.without_pagination {
    height: 100%;
  }
  :global {
    .ant-table-wrapper {
      height: 100%;
      .ant-spin-nested-loading {
        height: 100%;
        div {
          .ant-spin {
            max-height: 100%;
          }
        }
        .ant-spin-container {
          height: 100%;
          .ant-table {
            height: 100%;
            &.ant-table-empty {
              .ant-table-body {
                max-height: 0 !important ;
              }
            }
            .ant-table-container {
              height: 100%;
              display: flex;
              flex-direction: column;
              .ant-table-content {
                height: 100%;
                table {
                  height: 100%;
                  .ant-table-placeholder {
                    .ant-table-cell {
                      border: unset;
                    }
                  }
                }
              }
              .ant-table-body {
                flex: 1;
              }
              // .ant-table-scroll {
              //   height: 100%;
              //   display: flex;
              //   flex-direction: column;
              //   .ant-table-header {
              //     background: #fafafa;
              //     overflow-y: hidden !important;
              //   }
              //   .ant-table-body {
              //     flex: 1;
              //     .ant-table-row {
              //       cursor: pointer;
              //       &.not_viewed {
              //         font-weight: bold;
              //       }
              //     }
              //   }
              //   .ant-table-placeholder {
              //     flex: 1;
              //   }
              // }
            }
          }
        }
      }
    }
  }
}
